.menu-top .active a,
.menu-top .active a:focus,
.menu-top .active a:hover {
    color: #24BCE3;
}
.menu-top li a:hover {
    color: #24BCE3;
}
.slider-right a {
    background: #24BCE3;
}
.about-bottom-icon {
    color: #24BCE3;
}
.team-bottom .owl-dot.active {
    background: #24BCE3;
}
.client-slider .owl-dot.active {
    background: #24BCE3;
}
.free-trial-content .trial-get {
    background: #24BCE3;
}
.video-top-content i {
    color: #24BCE3;
}
.screen-bottom-slide:hover {
    border: 5px solid #24BCE3;
}
.screen-bottom .owl-dot.active {
    background: #24BCE3;
}
.pricing-bottom {
    border-top: 2px solid #24BCE3;
}
.pricing-bottom-list h1 {
    color: #24BCE3;
}
.pricing-bottom-list a {
    background: #24BCE3;
}
.footer-top-content h4 {
    color: #24BCE3;
}
.trial-button {
    background: #24BCE3;
}
.scrollToTop {
    border: 2px solid #24BCE3;
}
.scrollToTop:hover,
.scrollToTop:focus {
    border: 2px solid #24BCE3;
}
.blog-menu ul li.activv a {
    color: #24BCE3;
}
.scrollToTop .scroll-i {
    color: #24BCE3;
}
.latest-blog-post h4 a {
    color: #24BCE3;
}
.blog-arrow ul li a:hover {
    border: 2px solid #24BCE3;
}
.blog-side-search i {
    color: #24BCE3;
}
.blog-details-para p.activv {
    color: #24BCE3;
}
.blog-details-like ul li a i {
    color: #24BCE3;
}
.blog-comment-txt .reply span {
    color: #24BCE3;
}
.single-form input:hover, .single-form textarea:hover {
    border: 1px solid #24BCE3;
}
.single-form button:hover {
    color: #24BCE3;
}
.four04-content h2 {
    color: #24BCE3;
}
.four04-content a:hover {
    color: #24BCE3;
}