/* Reset codes */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing:border-box;
}
body{
	line-height: 23px;
	font-family: 'robotoregular';
	font-size:16px;
	color:#868686;
	position:relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin:0px;
}
ul {
    list-style: none;
    margin-bottom: 0;
	padding: 0px;
}
button,
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    border: none;
    outline: 0;
	outline-offset: 0px;
}
button:focus{
	outline:0px;
}
input:focus,input:active{
    outline: none;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: #fff;
}
.navbar .navbar-toggle {
    border-color: #ddd;
	margin-top: 0px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #ddd;
}