@media only screen and (min-width:1400px) {
	.team-item-img {
		width: 140px;
		height: 140px;
		margin-bottom: -32%;
		margin-left: 31%;
	}
}
@media only screen and (max-width:1400px) {
	.team-item-img {
		margin-bottom: -44%;
		margin-left: 22%;
		width: 140px;
		height: 140px;
	}
}
@media only screen and (max-width:1199px) {
	.team-item-img {
		width: 115px;
		height: 115px;
	}
	.team-item-text {
		padding-top: 120px;
	}
	.menu-top li a {
		padding: 5px 17px;
		font-size: 14px;
	}
	.slider-right {
		padding-top: 80px;
		padding-left: 20px;
	}
	.free-trial-content h2 {
		font-size: 26px;
	}
	.client-slider .owl-dots {
		padding-left: 38%;
	}
}
@media only screen and (max-width:991px) {
	.menu-top li a {
		padding: 3px 10px;
		font-size: 12px;
	}
	.menu-top #free-btn {
		border-radius: 12px;
	}
	.slider{
		background-size: 80% 50%, 45% 30% , 45% 32%;
	}
	.slider-left {
		margin-top: 80%;
	}
	.slider-right{
		padding-bottom: 80px;
	}
	.slider-img-one {
		width: 42% !important;
	}
	.slider-img-two {
		right: 22.7%;
		width: 36% !important;
		margin-bottom: 2%;
	}
	.slider-right h1{
		margin-top: 50px;
	}
	.community-left img {
		width: 80%;
		margin: auto;
	}
	.community-right {
		padding: 60px 160px;
	}
	.team-item-img {
		margin-bottom: -25%;
		margin-left: 33%;
	}
	.free-trial-content h2 {
		font-size: 20px;
	}
	.video-bottom-content {
		padding: 60px 100px 0px;
	}
	.client-map-img img {
		width: 90%;
	}
	.pricing-bottom {
		margin: 80px 100px 0px;
	}
	.best-plan-content {
		top: -8%;
		right: 115px;
	}
	.follow-bottom a {
		width: 55px;
		height: 55px;
	}
	.follow-bottom p {
		margin-left: 10px;
	}
	.video-bottom-iframe {
		width: 80%;
		margin: auto;
	}
	.client-slider .owl-dots {
		padding-left: 34%;
	}
	.footer-top-content h1 {
		font-size: 30px;
	}
	.home-bg-slide-items {
		height: 1243px;
	}
}
@media only screen and (max-width:767px) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 100%;
		background: #070707;
		padding: 10px 15px;
		border: none;
	}
	.menu-top li a {
		padding: 8px 20px;
		font-size: 13px;
		display: inline-block;
		margin-left: 15px;
	}
	.menu-top #free-btn {
		border-radius: 25px;
	}
	.slider {
		background-size: 95% 35%, 47% 28% , 48% 22%;
	}
	.slider-right h1 {
		font-size: 40px;
	}
	.slider-right p {
		margin: 30px 0px 40px;
	}
	.community-left img {
		width: 90%;
	}
	.community-right {
		padding: 60px;
	}
	.team-item-img {
		margin-left: 27%;
	}
	.free-trial-content h2 {
		line-height: 31px;
	}
	.free-trial-content .trial-get {
		margin: 30px 0px 20px;
	}	
	.video-top-content {
		width: 100%;
	}	
	.video-bottom-iframe {
		width: 95%;
	}
	.video-bottom-content {
		padding: 60px 20px 0px;
	}
	.client-bottom {
		padding: 0px 20px;
	}
	.footer-top-content {
		padding: 0px;
	}
	.footer-top-content.second {
		margin-top: 80px;
	}
	.footer-top-content.first::after {
		display: none;
	}
	.footer-top-content.first {
		border:none
	}
	.menu .navbar-brand {
		margin-left: 15px !important;
	}
	.latest-blog-area {
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-comment-content {
		margin-left: 0px;
	}
	.blog-details h2{
		font-size: 25px;
	}
	.blog-details-tags ul li a {
		margin-left: 3px;
	}
	.blog-details-link {
		float: left;
		margin-top: 15px;
	}
	.blog-details-like {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.four04-content h2 {
		font-size: 45px;
	}
	.blog{
		margin-top: 110px;
	}
	.home-bg-slide-items {
		height: 1165px;
	}
}
@media only screen and (max-width:680px){
	.slider-img-two {
		right: 19.2%;
		width:39% !important;
		margin-bottom: -2%;
	}
	.pricing-bottom {
		margin: 80px 40px 0px;
	}
	.best-plan-content {
		right: 55px;
	}
	.team-item-img {
		margin-bottom: -14%;
		margin-left: 40%;
	}
	.team-bottom .owl-dots {
		margin-top: 40px;
		padding: 0px 20px;
	}
	.team-bottom .owl-dot {
		width: 20px;
		height: 4px;
		margin: 5px 5px;
		border-radius: 2px;
	}
	.screen-bottom .owl-dot {
		width: 20px;
		height: 4px;
		margin: 5px 5px;
		border-radius: 2px;
	}
	.screen-bottom .owl-dots {
		margin-top: 60px;
	}
	.client-slider .owl-dots {
		padding-left: 0%;
	}
	.home-bg-slide-items {
		height: 1096px;
	}
}
@media only screen and (max-width:500px){
	.navbar {
		padding: 30px 0px;
	}
	.slider {
		background: url('images/slider-bg-3.jpg') top center no-repeat, url('images/slider-bg-1.jpg') center center no-repeat, url('images/slider-bg-2.jpg') bottom center no-repeat;
		background-size: 95% 20%, 90% 40% , 90% 22%;
	}
	.slider-overlay {
		padding-top: 205px;
	}
	.slider-img-one {
		width: 53% !important;
	}
	.slider-img-two {
		right: 2.2%;
		width:45% !important;
		margin-bottom: -6%;
	}
	.community-left{
		margin-top: 65%;
	}
	.community-left img {
		width: 100%;
	}
	.community-right {
		padding: 50px 0px;
	}
	.client-bottom {
		padding: 0px;
	}
	.pricing-bottom {
		margin: 80px 0px 0px;
	}
	.best-plan-content {
		right: 15px;
	}
	.footer-top-content.first{
		padding-right: 30px;
	}
	.footer-top-content.second {
		padding-left: 20px;
	}
	.client-slider .owl-dots{
		margin-top:60px;
	}
	.client-slider .owl-dot{
		margin-top:15px;
	}
	.footer-top {
		padding: 155px 0px 60px;
	}
	.footer-content p, .footer-content ul {
		float: none !important;
		width: 100%;
		margin: 20px auto 0px;
	}
	.footer-content ul li:first-child{
		margin-left:-30px;
	}
	.blog-details-para p.activv{
		margin: 17px 0px 17px 20px;
	}
	.home-bg-slide-items{
		height:1050px;
	}
}
@media only screen and (max-width:360px){
	.slider-overlay {
		padding-top: 150px;
	}
	.video-bottom-iframe {
		width: 100%;
	}
	.video-bottom-iframe iframe{
		height:200px;
	}
	.video-bottom-content {
		padding: 50px 0px 0px;
	}
	.video-bottom-content i{
		width: 45px;
		height: 45px;
		padding: 15px 0px;
		font-size: 14px;
		margin-right: 8px;
	}
	.team-item-img {
		margin-bottom: -23%;
		margin-left: 35%;
	}
	.client-map-img img {
		width: 100%;
	}
	.home-bg-slide-items {
		height: 915px;
	}
}